@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: "Kanit", sans-serif;
  }
}
* {
  --color1: #2ec774;
}

.hover_outline{
  @apply transition-all duration-150 hover:outline outline-2
}
.transitionAll{
  @apply transition-all duration-200 ease-in-out
}
.Dflex{
  @apply flex flex-row items-center
}
.DflexS{
  @apply flex flex-row justify-between items-center gap-2
}
.imgFlex{
  @apply flex justify-center items-center
}

img{
  max-width: unset;
}
